{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

           {% include 'search_results.html' %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    
    <h2>Livesearch</h2>
    <div id="jquery-live-search-example">
        <form action="/search/">

        <p>
            <label>
                Enter search terms<br />
                <input type="text" name="q" />
            </label> <input type="submit" value="Go" />
        </p>

        </form>
    </div>
    <div id="search-results"></div>
    <script>
   jQuery('#jquery-live-search-example input[name="q"]').liveSearch({url: '/livesearch/?' + '&q='});
//     jQuery('#jquery-live-search-example input[name="q"]').liveSearch({url: '/livesearch-inline/?' + '&q=', results: '#search-results', layer: false});
    </script>
{% endblock %}