<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.liveSearch.css">
    <style>
    .highlighted { font-weight: bold; }
    </style>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.liveSearch.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
